:root {
	--font-family: 'Noto Sans Variable', Helvetica, sans-serif;
	--font-color: #eaeaea;
	--background-color: #191a1c;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#root {
	font-family: var(--font-family), serif;
	color: var(--font-color);
	background-color: var(--background-color);

	min-height: 100vh;
	width: 100%;

	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	margin-inline: 10px;
}